html,
body,
#__nuxt {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html,


body {
 

  user-select: none;
  -webkit-user-select: none;
  overscroll-behavior: none;
  touch-action: manipulation;
  font-family: Arial, sans-serif;
  background: #1f1f1f;
  color: #fff;
}

button,
.clickable {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
    box-shadow: 0 0 15px rgba(207, 186, 186, 0.712);
  background-color: rgba(217, 204, 204, 0.404);
  /* background-color: transparent; */
}

* {
  box-sizing: border-box;
}
